@import 'assets/scss/valuable';
@import 'assets/scss/animation';

.header {
	position: relative;
	.title {
		position: fixed;
		z-index: $z-index-level-5;
		top: 0;
		left: 0;
		right: 0;
		background: #fff;
		padding: 16px;
		> a {
			float: right;
		}
	}
	.sidebar {
		background: linear-gradient(to bottom, #be4bdb 5%, #9775fa 95%);
		position: absolute;
		z-index: $z-index-level-6;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
		transform: translateX(-100%);
		.closedBtn {
			background: transparent;
			padding: 16px;
			text-align: right;
			svg {
				fill: $white-color;
			}
		}
		.item {
			padding: 8px;
			font-size: 20px;
			font-weight: 700;
			text-align: center;
			color: $white-color;
		}
		.item1 {
			margin-top: 40px;
		}
	}
	.sidebar.active {
		transform: translateX(0);
		animation: sidebar-mobile 0.8s linear;
	}
}
