@keyframes sidebar-mobile {
	0% {
		transform: translateX(-100%);
	}
	12% {
		transform: translateX(-90%);
	}
	24% {
		transform: translateX(-56%);
	}
	36% {
		transform: translateX(-2%);
	}
	54% {
		transform: translateX(-25%);
	}
	74% {
		transform: translateX(-1.63%);
	}
	82% {
		transform: translateX(-6%);
	}
	92% {
		transform: translateX(-0.66%);
	}
	96% {
		transform: translateX(-1.54%);
	}
	100% {
		transform: translateX(0%);
	}
}
@keyframes comingsoon-popup {
	from {
		opacity: 0;
		transform: translate(-50%, calc(-50% + 200px));
	}
	40% {
		transform: translate(-50%, -50%);
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
