$z-index-level-1: 10;
$z-index-level-2: 20;
$z-index-level-3: 30;
$z-index-level-4: 40;
$z-index-level-5: 50;
$z-index-level-6: 60;
$z-index-level-7: 70;
$z-index-level-8: 80;
$z-index-level-9: 90;
$z-index-level-10: 100;
$white-color: #fff;
$black-color: #000;
$main-color: red;
$red-color: red;
$background-main-color: rgb(76, 161, 175);
$purple-color: #bd93f9;
