@import 'assets/scss/valuable';
.detail {
	position: fixed;
	z-index: $z-index-level-6;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(81, 94, 123, 0.5);
	.wrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		max-height: 80%;
		transform: translate(-50%, -50%);
		width: 60%;
		background-color: $white-color;
		border-radius: 10px;
		padding: 10px;
		.head {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid $black-color;
			padding: 10px 0;
			margin-bottom: 10px;

			span,
			a {
				display: inline-flex;
				cursor: pointer;
			}
		}
		.content {
			display: flex;
			flex-wrap: wrap;
			&:hover .button {
				opacity: 1;
			}
			.left {
				align-self: stretch;
				text-align: left;
				position: relative;
				.name {
					font-size: 3rem;
				}
				.icon {
					display: inline-flex;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					svg {
						height: 100px;
					}
				}
			}
			.code {
				position: relative;
				.button {
					position: absolute;
					top: 2px;
					right: 8px;
				}
				pre {
					margin: 0;
					&::-webkit-scrollbar {
						width: 6px;
						height: 0;
					}
					&::-webkit-scrollbar-track {
						background: #272822;
					}
					&::-webkit-scrollbar-thumb {
						background: rgba(255, 255, 255, 0.3);
					}
					code {
						white-space: break-spaces;
					}
				}
			}
		}
	}
}
