@import 'assets/scss/valuable';
@import 'assets/scss/responsive';

.search {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 10px;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	input {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		flex-grow: 1;
		font-size: 16px;
		padding: 10px;
		padding-right: 0;
		border: unset;
		outline: none;
	}
	.icon {
		padding: 10px;
		display: flex;
		align-items: center;
	}
	.result {
		position: absolute;
		left: 0;
		top: calc(100% + 6px);
		font-size: 14px;
		background-color: $white-color;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		z-index: 100;
		@include media('screen', '<mobileL') {
			width: 100%;
		}
		.item {
			padding: 6px 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			@include media('screen', '<mobileL') {
				width: 100%;
			}
		}
	}
}
